.otp {
    .phone-icon {
        text-align: center;
    }

    .title {
        font-size: 25px;
    }

    .reminder {
        font-size: 12px;
        margin-bottom: 20px;
        text-align: center;
    }

    .pin-input {
        margin-bottom: 58px;
    }

    .btn {
        button {
            background-color: #da8938;
        }
    }

}