.search {

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

.modal {

    .title {
        margin-bottom: 5px;
    }

    .title,
    .trend-title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .name,
    .id {
        font-size: 18px;
        display: flex;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .key {
        width: 55px;
        border-right: 1px solid gray;
        margin-right: 5px;
    }

    .trend-title {
        margin-bottom: 0;
    }
}