.phrase-wrapper {
    height: 100%;
    padding: 10px 0 20px 10px;

    .phrase-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .phrase-subtitle {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

@mixin date {
    border-radius: 20px;
    background-color: var(--mantine-color-brand-3);
    color: black !important;
    opacity: .6;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;

    button[data-selected] {
        @include date
    }

    button[data-selected]:hover,
    button:hover {
        @include date
    }

}

.month-wrapper {
    padding: 2px 15px 20px;
}


.panel {
    height: 400px;
    padding-top: 15px;

    .title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .mood-list {
        display: flex;
        padding: 0 60px 0 0;
        justify-content: space-between;
        align-items: center;

        button {
            width: 40px
        }
    }

}