.search {

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

.burypoint {
    .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .input {
        margin-bottom: 10px;
    }

    .btn {
        text-align: center;
        display: flex;
        justify-content: center;

        button {
            margin-top: 5px;
        }
    }
}
