body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swiper-scrollbar {
  right: 0px !important; /* 調整滾動條的右邊距 */
}

.swiper-scrollbar-drag {
  background-color: var(--mantine-color-tool-0) !important;
  opacity: 0.5 !important;
}

/* 關閉瀏覽器的滾動條 
 webkit 核心的瀏覽器 Chrome, Edge, Safari
 */
::-webkit-scrollbar {
  display: none;
}
