.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;

    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            width: 100%;
            max-width: 330px;
            height: 440px;
            border-radius: 10px;
            background-color: rgba($color: #000000, $alpha: 1);
            padding: 25px 20px;
            position: relative;

            .signup {
                .username {
                    height: 80px;
                }

                .email {
                    height: 80px;
                }

                .password {
                    height: 80px;
                    margin-bottom: 20px;
                }

                .btn {
                    margin-bottom: 20px;

                    button {
                        background-color: #da8938;
                    }
                }

                .checkbox {
                    height: 45px;
                    margin-bottom: 10px;
                }

                .alter {
                    text-align: center;
                    font-size: 16px;

                    span {
                        color: #D4A373;
                        cursor: pointer
                    }
                }
            }


        }
    }
}